@charset "UTF-8";
/*****************************************************************
* SETTING
*****************************************************************/
/* line 17, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/1.9.3-p327/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*****************************************************************
* COMMON
*****************************************************************/
/* line 13, ../sass/screen.scss */
body {
  background: url("../img/cloth_alike.png");
  font: 80%/19px Helvetica, Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif !important;
  letter-spacing: 0.1em !important;
  color: #333333;
}

/* Clear Fix */
/* line 21, ../sass/screen.scss */
.cf:before, .cf:after {
  content: "";
  display: block;
  overflow: hidden;
}

/* line 26, ../sass/screen.scss */
.cf:after {
  clear: both;
}

/* line 31, ../sass/screen.scss */
#container {
  width: 70%;
  margin: 160px auto 0 auto;
}

/* line 36, ../sass/screen.scss */
.box {
  margin-bottom: 70px;
}

/*****************************************************************
* HEADER
*****************************************************************/
/* line 43, ../sass/screen.scss */
header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background: url("../img/cloth_alike.png");
}

/* line 51, ../sass/screen.scss */
#headline {
  font-size: 11px;
  color: #efefef;
  background: #333333;
  position: fixed;
  width: 100%;
  top: 0;
}
/* line 59, ../sass/screen.scss */
#headline h1, #headline ul li {
  float: left;
}
/* line 62, ../sass/screen.scss */
#headline ul {
  float: right;
}
/* line 64, ../sass/screen.scss */
#headline ul a {
  color: #efefef;
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
#headline ul li:first-child:after {
  content: "|";
  margin: 0 7px;
}

/* line 75, ../sass/screen.scss */
#header_container {
  width: 70%;
  margin: 0 auto;
}

/*****************************************************************
* TOP
*****************************************************************/
/* line 84, ../sass/screen.scss */
#top {
  width: 70%;
  margin: 30px auto 0 auto;
  padding-bottom: 10px;
}
/* line 88, ../sass/screen.scss */
#top h1, #top li {
  float: left;
}
/* line 91, ../sass/screen.scss */
#top nav {
  float: right;
}
/* line 94, ../sass/screen.scss */
#top h1 {
  margin-top: 10px;
}
/* line 96, ../sass/screen.scss */
#top h1 img {
  width: 350px;
}

/* line 102, ../sass/screen.scss */
.shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
}

/*****************************************************************
* PHOTOS
*****************************************************************/
/* line 109, ../sass/screen.scss */
#photos {
  margin-bottom: 40px;
}
/* line 111, ../sass/screen.scss */
#photos img {
  width: 100%;
}

/*****************************************************************
* INFO
*****************************************************************/
/* line 120, ../sass/screen.scss */
#info section {
  float: left;
  width: 48%;
}
/* line 123, ../sass/screen.scss */
#info section:first-child {
  margin-right: 4%;
}

/* line 128, ../sass/screen.scss */
#tmp_widget {
  width: 100%;
}

/* line 132, ../sass/screen.scss */
.menu {
  border-bottom: 1px dotted #333333;
  margin-bottom: 25px;
}

/* line 137, ../sass/screen.scss */
.subtitle {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.2em;
}

/* line 143, ../sass/screen.scss */
h3 {
  font-size: 16px;
  margin-bottom: 2px;
}

/* line 148, ../sass/screen.scss */
#about p {
  font-size: 20px;
  line-height: 1.4em;
}

/*****************************************************************
* Access
*****************************************************************/
/* line 158, ../sass/screen.scss */
#access_box div {
  float: left;
}
/* line 160, ../sass/screen.scss */
#access_box div:first-child {
  width: 65%;
  margin-right: 5%;
}
/* line 164, ../sass/screen.scss */
#access_box div:last-child {
  width: 30%;
}
/* line 169, ../sass/screen.scss */
#access_box iframe {
  width: 100%;
}
/* line 173, ../sass/screen.scss */
#access_box p {
  margin-bottom: 25px;
}

/*****************************************************************
* Back To Top
*****************************************************************/
/* line 182, ../sass/screen.scss */
#page-top {
  position: fixed;
  width: 15%;
  bottom: 50px;
  right: 0%;
  text-align: center;
  cursor: pointer;
}

/*****************************************************************
* Footer
*****************************************************************/
/* line 195, ../sass/screen.scss */
footer {
  font-size: 11px;
  color: #efefef;
  background: #333333;
}

/* line 201, ../sass/screen.scss */
#footer {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 5px;
}

/*****************************************************************
* SideShow
*****************************************************************/
/* line 213, ../sass/screen.scss */
#slider {
  z-index: 0;
  position: relative;
  margin-bottom: 10px;
}
/* line 218, ../sass/screen.scss */
#slider img {
  border: 12px solid rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 224, ../sass/screen.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 233, ../sass/screen.scss */
.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

/* line 241, ../sass/screen.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

/* line 247, ../sass/screen.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* line 255, ../sass/screen.scss */
.centered-btns_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
}

/* line 270, ../sass/screen.scss */
.centered-btns_nav:active {
  opacity: 1.0;
}

/* line 274, ../sass/screen.scss */
.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 1px;
}

/* line 280, ../sass/screen.scss */
.centered-btns_nav:focus {
  outline: none;
}

/* line 284, ../sass/screen.scss */
.centered-btns_tabs {
  text-align: center;
}

/* line 288, ../sass/screen.scss */
.centered-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

/* line 296, ../sass/screen.scss */
.centered-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 9px;
  height: 9px;
}

/* line 314, ../sass/screen.scss */
.centered-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

/*****************************************************************
* Bike
*****************************************************************/
/* line 323, ../sass/screen.scss */
#bike h2.subtitle {
  margin: 25px 0 5px 0;
}

/* line 327, ../sass/screen.scss */
.bike_box {
  width: 48%;
  float: left;
}
/* line 330, ../sass/screen.scss */
.bike_box:first-child {
  margin-right: 4%;
}
/* line 333, ../sass/screen.scss */
.bike_box img {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #efefef;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 0 0, rgba(0, 0, 0, 0.1) -1px 0 0, rgba(0, 0, 0, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.1) 0 5px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 0 0, rgba(0, 0, 0, 0.1) -1px 0 0, rgba(0, 0, 0, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.1) 0 5px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 0 0, rgba(0, 0, 0, 0.1) -1px 0 0, rgba(0, 0, 0, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.1) 0 5px 3px;
  margin-bottom: 7px;
}

/* line 342, ../sass/screen.scss */
#bike_1 {
  margin-right: 4%;
}

/* line 346, ../sass/screen.scss */
#price {
  float: right;
  margin-left: 5%;
}
/* line 350, ../sass/screen.scss */
#price tr, #price th, #price td {
  border: 1px solid #cfcfcf;
  padding: 10px;
  text-align: left;
}
/* line 356, ../sass/screen.scss */
#price tr:first-child {
  background: #333;
  color: #EFEFEF;
  padding: 7px;
}
