@charset "UTF-8";
/*****************************************************************
* SETTING
*****************************************************************/
/*****************************************************************
* COMMON
*****************************************************************/
/* line 12, ../sass/style.scss */
body {
  background: url("../img/cloth_alike.png");
  font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
  letter-spacing: 0.1em !important;
  color: #333333;
  margin: 0;
}

/* line 20, ../sass/style.scss */
ul {
  margin: 0;
}
/* line 22, ../sass/style.scss */
ul li {
  list-style: none;
}

/* line 25, ../sass/style.scss */
.box {
  margin-bottom: 70px;
}

/* line 29, ../sass/style.scss */
#container {
  margin-top: 30px;
}

@media all and (min-width: 481px) {
  /* line 33, ../sass/style.scss */
  #container {
    margin-top: 150px;
  }
}
/* line 38, ../sass/style.scss */
section {
  margin-bottom: 50px !important;
}

/*****************************************************************
* TITLE
*****************************************************************/
/* line 48, ../sass/style.scss */
.subtitle {
  font-size: x-large;
  font-weight: normal;
  margin-top: 30px;
}

/* line 54, ../sass/style.scss */
h3 {
  font-size: large;
}

/*****************************************************************
* HEADER
*****************************************************************/
/* line 62, ../sass/style.scss */
#header {
  width: 100%;
  background: url("../img/cloth_alike.png");
}

/* line 67, ../sass/style.scss */
#headline {
  background: #333333;
  color: #efefef;
  font-size: smaller;
  text-align: center;
}
/* line 73, ../sass/style.scss */
#headline p {
  margin: 0;
}
/* line 75, ../sass/style.scss */
#headline ul li {
  color: #AAA;
  display: inline;
}
/* line 79, ../sass/style.scss */
#headline ul li:first-child:after {
  content: "|";
  margin: 0 7px;
}
/* line 83, ../sass/style.scss */
#headline ul a {
  color: #efefef;
}

/* line 87, ../sass/style.scss */
header nav {
  text-align: center;
}

@media all and (min-width: 481px) {
  /* line 94, ../sass/style.scss */
  #header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }

  /* line 100, ../sass/style.scss */
  #headline {
    text-align: left;
    padding: 0 15%;
  }
  /* line 103, ../sass/style.scss */
  #headline ul {
    position: absolute;
    right: 15%;
    top: 0;
  }

  /* line 110, ../sass/style.scss */
  header h1 {
    position: absolute;
    top: 20px;
    left: 13%;
  }
  /* line 115, ../sass/style.scss */
  header nav {
    text-align: left;
    float: right;
    margin: 5px 13%;
  }
  /* line 119, ../sass/style.scss */
  header nav ul {
    margin: 15px 0;
  }
  /* line 120, ../sass/style.scss */
  header nav li {
    display: inline;
    margin-right: 15px;
  }
  /* line 124, ../sass/style.scss */
  header nav ul:nth-child(2) li {
    margin-right: 50px;
  }
}
/*****************************************************************
* SLIDESHOW
*****************************************************************/
/* line 135, ../sass/style.scss */
.bx-wrapper .bx-viewport {
  border: solid #333333 12px;
}

/*****************************************************************
* ABOUT
*****************************************************************/
@media all and (min-width: 481px) {
  /* line 144, ../sass/style.scss */
  #about p {
    font-size: large;
    line-height: 1.2em;
  }
}
/*****************************************************************
* BIKE
*****************************************************************/
/* line 154, ../sass/style.scss */
#bike img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px solid #efefef;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 0 0, rgba(0, 0, 0, 0.1) -1px 0 0, rgba(0, 0, 0, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.1) 0 5px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 0 0, rgba(0, 0, 0, 0.1) -1px 0 0, rgba(0, 0, 0, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.1) 0 5px 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 1px 0 0, rgba(0, 0, 0, 0.1) -1px 0 0, rgba(0, 0, 0, 0.1) 0 -1px 0, rgba(0, 0, 0, 0.1) 0 5px 3px;
}

/* line 160, ../sass/style.scss */
#bike table {
  background-color: #efefef;
}
/* line 162, ../sass/style.scss */
#bike table tr:first-child {
  background-color: #333333;
  color: #efefef;
}

/* line 168, ../sass/style.scss */
#bike .col_6 li:before {
  content: "■";
  padding-right: 5px;
}

/*****************************************************************
* ACCESS
*****************************************************************/
/* Facebook Like Box width: 100% */
/* line 183, ../sass/style.scss */
.fbcomments,
.fb_iframe_widget,
.fb_iframe_widget[style],
.fb_iframe_widget iframe[style],
.fbcomments iframe[style],
.fb_iframe_widget span {
  width: 100% !important;
}

/*****************************************************************
* ACCESS
*****************************************************************/
/* line 191, ../sass/style.scss */
#access iframe {
  width: 100%;
}

/*****************************************************************
* FOOTER
*****************************************************************/
/* line 199, ../sass/style.scss */
footer {
  background: #333333;
  color: #efefef;
  margin: 0;
}
/* line 204, ../sass/style.scss */
footer div {
  margin: 0 15%;
  padding: 5px 0;
  text-align: center;
}
/* line 209, ../sass/style.scss */
footer p {
  margin: 0;
}

/* line 212, ../sass/style.scss */
#page-top {
  position: fixed;
  cursor: pointer;
  right: 10px;
  bottom: 10px;
}
