/*****************************************************************
* SETTING
*****************************************************************/

@import "compass";
// @import "compass/reset";
$color-black: #333333;
$color-white: #EFEFEF;
$color-orange: #EC730A;


/*****************************************************************
* COMMON
*****************************************************************/
body {
	font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
	letter-spacing: 0.1em !important;
  color: $color-black;
	margin: 0;
}

/* Clear Fix */
.cf:before {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after {
  @extend .cf:before;
  clear:both;
}

ul {
	margin: 0;
	li { list-style: none; }
}

article {
	margin-bottom: 80px;
}

.title {
	background: $color-orange;
	text-align: center;
	font-size: x-large;
	line-height: 0.1em;
	margin-bottom: 40px;
	span {
		background: #FFF;
		padding: 15px;
	}
}

em {
	font-style: normal;
	font-weight: bold;
	color: $color-orange;
}


/*****************************************************************
* HEADER
*****************************************************************/
header {
	position: relative;
	z-index: 2;
	// background: $color-orange;
	background: url("../img/bg_all.png");
	// border-bottom: 1px solid #DDD;
	border-top: 3px solid $color-orange;
	color: #FFF;
	@include box-shadow(rgba(0,0,0,0.2) 0 1px 0);

	div {
		margin-left: 15px;
		float: left;
		h1 {
			line-height: 1em;
			float: left;
			margin: 0;
			a {
				color: #FFF;
				text-decoration: none;
				line-height: 68px;
				font-family: 'Anton', sans-serif;
			}
			&.effect {
				background: #FFF url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
				font-size: 47px;
				text-shadow: -4px -4px black, -3px -3px white;
				font-weight: bold;
				-webkit-text-fill-color: transparent;
				-webkit-background-clip: text
			}
		}

		//吹き出しのセリフ
		div {
			color: $color-black;
			background: url("../img/fukidashi_1.png");
			background-size: contain;
			width: 250px;
			height: 47px;
			padding: 0 8px 0 18px;
			margin-top: 10px;
			line-height: 47px;

		}
	}
	nav {
		float: right;
		margin-right: 15px;
		line-height: 60px;
	}
}


@media all and (min-width: 481px) {
	header li {
		display: inline;
	}
}

/*****************************************************************
* TOP_IMG
*****************************************************************/
#top_img {
	position: relative;
	padding: 30px 0;
	background: #DDD;
	background: url('../img/stripe.png');
	margin-bottom: 50px;
	border-bottom: 5px solid $color-orange;
	@include box-shadow(rgba(0,0,0,0.2) 0 -1px 0 inset);

	img {
		margin: 0;
	}
	div:first-child {
		z-index: 1;
		width: 100%;
		position: absolute;
		top: 40%;
		text-align: left;
		background: rgba(255,255,255,0.95);
		padding: 30px 15px;
		h2 {
			font-size: xx-large;
			margin: 0;
		}
		p {
			margin: 0;
			font-size: larger;
		}
	}

	div:last-child {
		width: 330px;
		height: 198px;
		background: url("../img/fukidashi_2.png");
		background-size: cover;
		z-index: 1;
		position: absolute;
		top: 15%;
		right: 6%;
		text-align: center;
		padding: 10px;
		img {
			width: 100%;
		}
		h2 {
			margin-top: 45px;
			font-size: large;

		}
		span {
			color: red;
			font-weight: bold;
			font-size: x-large;
		}
		small {
			font-size: x-small;
		}
	}
}


/*****************************************************************
* ABOUT
*****************************************************************/
#about {
	margin-bottom: 0;
	iframe, div div {
		width: 99%;
		height: 300px;
		background: url("../img/shuchu-sen.png");
		background-size: cover;
		background-position: center;
		position: relative;

		p {
			font-size: x-large;
			text-align: center;
			line-height: 1.5em;
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -1.5em;

		}
	}
	h1 {
		font-size: xx-large;
	}
}


/*****************************************************************
* RECOMMEND
*****************************************************************/
#recommend {
	margin-top: 80px;
	.rec_box {
		margin-bottom: 30px;
		text-align: center;
		div {
			margin: 0 auto;
			width: 160px;
			height: 160px;
			border: 3px solid $color-white;
			@include border-radius(80px);
			padding-top: 15px;
		}
		h2 {
			font-size: medium;
		}

		a {
			color: $color-black;
			text-decoration: none;
		}
		i {
			margin-left: 7px;
		}
		p:not(:last-child) {
			text-align: left;
			padding: 0 5px;
			min-height: 76px;
		}
		p:last-child {
			width: 100%;
			padding: 5px 0;
			border-top: 1px dotted $color-black;
			border-bottom: 1px dotted $color-black;
			cursor: pointer;

			&:hover, &.current {
				background: $color-orange;
				color: #FFF;
				border: none;
			}
		}
	}

	//人のコメント部分
	.people {
		clear: both;
		position: relative;
		width: 100%;
		height: 200px;
		@include border-radius(5px);
		border: 5px solid #DDD;
		padding: 0px 15px;

		//吹き出し矢印部分
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent;
		}
		&:before {
			top: -20px;
			border-bottom: 20px solid #DDD;
		}
		&:after {
			top: -10px;
			border-bottom: 20px solid #FFF;
		}

		#img_box {
			border: 1px solid #DDD;
			padding: 0;
			img {
				width: 100%;
				border: 5px solid #FFF;
			}
		}
		blockquote  {
			border: none;
			margin-top: 0;
			font-size: medium;
			span {
				margin-left: 10px;
				font-size: x-small;
				display: inline;
			}
		}
	}

	//吹き出しの位置調整
	#people_a:before, #people_a:after { left: 15%; }
	#people_b:before, #people_b:after { left: 50%; }
	#people_c:before, #people_c:after { left: 85%; }
}

/*****************************************************************
* SERVICE
*****************************************************************/
#service {
	h2 {
		font-size: large;
	}
	div {
		padding: 10px;
		text-align: center;
		border: 3px solid $color-white;
		@include border-radius(5px);
		min-height: 203px;
		p {
			text-align: left;
		}
	}
}


/*****************************************************************
* PRICE
*****************************************************************/
#price {
	td{
		text-align: center;
	}
	thead tr:first-child td {
		h2 {
			font-size:x-large;
			margin-bottom: 0px;
		}
		&:nth-child(2){
			position: relative;
			overflow: hidden;
			padding: 5px;
		}
	}
	thead tr:nth-child(2) {
		h2 {
			margin-bottom: -5px;
			font-size: x-large;
		}
		span {
			font-size: xx-large;
			color: red;
		}
		div {
			margin: 15px;
		}
	}
	tbody tr:first-child em {
		font-size: large;
	}

	ul {
		margin-top: 20px;
		font-size: smaller;
		text-align: right;
	}
}

.otameshi {
	width: 100%;
	background: url("../img/stripe.png");
	margin: 30px 0;
	padding: 20px 0;
	text-align: center;
	h2 {
		display: inline;
		font-size: x-large;
	}
	i {
		margin: 0 10px;
	}
	a {
		margin-top: -10px;
	}
}


/*****************************************************************
* FAQ
*****************************************************************/
#faq {
	div {
		margin: 30px 0;
		p:first-child {
			font-size: large;
			font-weight: bold;
			&:before {
				content: "Q.";
				font-size: x-large;
			}
		}
	}
}


/*****************************************************************
* FOOTER
*****************************************************************/
footer {
	background: url("../img/bg_all.png");
	border-top: 5px solid $color-orange;
	padding: 20px 0;
	min-height: 350px;
	font-size: 11px;

	h2 {
		font-size: 14px;
		font-weight: normal;
		border-bottom: 1px dotted $color-black;
	}

	a {
		text-decoration: none;
	}

	//LikeBoxの幅調整
	div.fb-like-box,
	div.fb-like-box iframe[style],
	div.fb-like-box span {
		width: 100% !important;
		background: #FFF;
	}

	.copyright {
		text-align: center;
		margin-top: 15px;
	}
}



