/*****************************************************************
* SETTING
*****************************************************************/

@import "compass";
@import "compass/reset";
$color-white: #EFEFEF;
$color-black: #333333;

/*****************************************************************
* COMMON
*****************************************************************/
body {
	background: url("../img/cloth_alike.png");
	font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
	letter-spacing: 0.1em !important;
  color: $color-black;
}

/* Clear Fix */
.cf:before {
  content:"";
  display:block;
  overflow:hidden;
}
.cf:after {
  @extend .cf:before;
  clear:both;
}

#container {
	width: 70%;
	margin: 160px auto 0 auto;
}

.box {
	margin-bottom: 70px;
}

/*****************************************************************
* HEADER
*****************************************************************/
header {
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	background: url("../img/cloth_alike.png");
}

#headline {
	font-size: 11px;
	color: $color-white;
	background: $color-black;
	position: fixed;
	width: 100%;
	top: 0;

	h1, ul li {
		float: left;
	}
	ul {
		float: right;
		a {
			color: $color-white;
			text-decoration: none;
		}
		li:first-child:after {
			content: "|";
			margin: 0 7px;
		}
	}
}

#header_container {
	width: 70%;
	margin: 0 auto;
}


/*****************************************************************
* TOP
*****************************************************************/
#top {
	width: 70%;
	margin: 30px auto 0 auto;
	padding-bottom: 10px;
  h1, li {
		float: left;
	}
	nav {
		float: right;
	}
	h1 {
		margin-top: 10px;
		img {
			width: 350px;
		}
	}
}

.shadow {
	@include box-shadow(rgba(0,0,0,0.1) 0 1px 0);
}

/*****************************************************************
* PHOTOS
*****************************************************************/
#photos {
	margin-bottom: 40px;
	img {
  	width: 100%;
	}
}


/*****************************************************************
* INFO
*****************************************************************/
#info section {
	float: left;
	width: 48%;
	&:first-child {
		margin-right: 4%;
	}
}

#tmp_widget {
	width: 100%;
}

.menu {
	border-bottom: 1px dotted $color-black;
	margin-bottom: 25px;
}

.subtitle {
	font-size: 22px;
	margin-bottom: 15px;
	line-height: 1.2em;
}

h3 {
	font-size: 16px;
	margin-bottom: 2px;
}

#about p {
	font-size: 20px;
	line-height: 1.4em;
}


/*****************************************************************
* Access
*****************************************************************/
#access_box {
	div {
		float: left;
		&:first-child {
			width: 65%;
			margin-right: 5%;
		}
		&:last-child {
			width: 30%;
		}
	}

	iframe {
		width: 100%;
	}

	p {
		margin-bottom: 25px;
	}
}


/*****************************************************************
* Back To Top
*****************************************************************/
#page-top {
	position: fixed;
	width: 15%;
	bottom: 50px;
	right: 0%;
	text-align: center;
	cursor: pointer;
}


/*****************************************************************
* Footer
*****************************************************************/
footer {
	font-size: 11px;
	color: $color-white;
	background: $color-black;
}

#footer {
	width: 70%;
	margin: auto;
	text-align: center;
	padding-top: 5px;
}



/*****************************************************************
* SideShow
*****************************************************************/
#slider {
	z-index: 0;
	position: relative;
	margin-bottom: 10px;

	img {
		border: 12px solid rgba(0,0,0,0.8);
    @include box-sizing(border-box);
	}
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.centered-btns_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("themes.gif") no-repeat left top;
  margin-top: -45px;
}

.centered-btns_nav:active {
  opacity: 1.0;
}

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 1px;
}

.centered-btns_nav:focus {
  outline: none;
}

.centered-btns_tabs {
  text-align: center;
}

.centered-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.centered-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
}

.centered-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
}


/*****************************************************************
* Bike
*****************************************************************/
#bike h2.subtitle {
  margin: 25px 0 5px 0;
}

.bike_box {
	width: 48%;
	float: left;
	&:first-child {
		margin-right: 4%;
	}
	img {
		width: 100%;
    @include box-sizing(border-box);
		border: 5px solid #EFEFEF;
		@include box-shadow(rgba(0,0,0,0.1) 0 1px 0, rgba(0,0,0,0.1) 1px 0 0, rgba(0,0,0,0.1) -1px 0 0, rgba(0,0,0,0.1) 0 -1px 0, rgba(0,0,0,0.1) 0 5px 3px);
		margin-bottom: 7px;
	}
}

#bike_1 {
	margin-right: 4%;
}

#price {
	float: right;
	margin-left: 5%;

	tr, th, td {
	  border: 1px solid #CFCFCF;
		padding: 10px;
		text-align: left;
	}

	tr:first-child {
		background: #333;
		color: #EFEFEF;
		padding: 7px;
	}
}

