/*****************************************************************
* SETTING
*****************************************************************/

@import "compass";
$color-white: #EFEFEF;
$color-black: #333333;

/*****************************************************************
* COMMON
*****************************************************************/
body {
	background: url("../img/cloth_alike.png");
	font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
	letter-spacing: 0.1em !important;
  color: $color-black;
	margin: 0;
}

ul {
	margin: 0;
	li { list-style: none; }
}

.box {
	margin-bottom: 70px;
}

#container {
	margin-top: 30px;
}

section {
	margin-bottom: 50px !important;
}


/*****************************************************************
* TITLE
*****************************************************************/
#about .title {
	@extend .title;
	background: url("../img/menu/ja/about.png");
}
#news .title {
	@extend .title;
	background: url("../img/menu/ja/news.png");
}
#bike .title {
	@extend .title;
	background: url("../img/menu/ja/bike.png");
}
#cafe .title {
	@extend .title;
	background: url("../img/menu/ja/cafe.png");
}
#gallery .title {
	@extend .title;
	background: url("../img/menu/ja/gallery.png");
}
#event .title {
	@extend .title;
	background: url("../img/menu/ja/event.png");
}
#access .title {
	@extend .title;
	background: url("../img/menu/ja/access.png");
}
#link .title {
	@extend .title;
	background: url("../img/menu/ja/link.png");
}


.title {
	height: 30px;
	margin-bottom: 20px;
	border-bottom: 1px dotted $color-black;
	background-size: contain;
	background-repeat: no-repeat;

	//本来のテキストを非表示にする
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.subtitle {
	font-size: x-large;
	font-weight: normal;
	margin-top: 30px;
}

h3 {
	font-size: large;
}


/*****************************************************************
* HEADER
*****************************************************************/
#header {
	width: 100%;
	background: url("../img/cloth_alike.png");
}

#headline {
	background: $color-black;
	color: $color-white;
	font-size: smaller;
	text-align: center;

	p { margin: 0; }
	ul {
		li {
			color: #AAA;
			display: inline;
		}
		li:first-child:after {
			content: "|";
			margin: 0 7px;
		}
		a { color: $color-white; }
	}
}

header {
	h1 {
		width: 360px;
		height: 96px;
		margin: 10px auto;
		background: url("../img/logo.png");
		background-size: contain;
		background-repeat: no-repeat;

		//本来のテキストを非表示にする
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
	nav {
		text-align: center;
	}
}


@media all and (min-width: 481px) {
	#header {
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
	}
	#headline {
		text-align: left;
		padding: 0 15%;
		ul {
			position: absolute;
			right: 15%;
			top: 0;
		}
	}
	header {
		h1 {
			position: absolute;
			top: 20px;
			left: 13%;
		}
		nav {
			text-align: left;
			float: right;
			margin: 5px 13%;
			ul { margin: 15px 0; }
			li {
				display: inline;
				margin-right: 15px;
			}
			ul:nth-child(2) li {
				margin-right: 50px;
			}
		}
	}

	#container {
		margin-top: 150px;
	}
}


/*****************************************************************
* SLIDESHOW
*****************************************************************/
.bx-wrapper .bx-viewport {
	border: solid $color-black 12px;
}


/*****************************************************************
* ABOUT
*****************************************************************/
#about p {
	font-size: large;
	line-height: 1.2em;
}


/*****************************************************************
* BIKE
*****************************************************************/
#bike img {
	@include box-sizing(border-box);
	border: 5px solid $color-white;
	@include box-shadow(rgba(0,0,0,0.1) 0 1px 0, rgba(0,0,0,0.1) 1px 0 0, rgba(0,0,0,0.1) -1px 0 0, rgba(0,0,0,0.1) 0 -1px 0, rgba(0,0,0,0.1) 0 5px 3px);
}

#bike table {
	background-color: $color-white;
	tr:first-child {
		background-color: $color-black;
		color: $color-white;
	}
}

#bike .col_6 li:before {
	content: "■";
	padding-right: 5px;
}


/*****************************************************************
* ACCESS
*****************************************************************/
#access iframe {
	width: 100%;
}


/*****************************************************************
* FOOTER
*****************************************************************/
footer {
	background: $color-black;
	color: $color-white;
	margin: 0;

	div {
		margin: 0 15%;
		padding: 5px 0;
		text-align: center;
	}
	p { margin: 0; }
}

#page-top {
	position: fixed;
	cursor: pointer;
	right: 10px;
	bottom: 10px;
}
